In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('sample_101_Mlbb_Heroes.csv')

In [3]:
df

,Name,Title,Voice_Line,Release_Date,Primary_Role,Secondary_Role,Lane,Hp,Hp_Regen,Mana,Mana_Regen,Phy_Damage,Mag_Damage,Phy_Defence,Mag_Defence,Mov_Speed,Esport_Wins,Esport_Loss
0,Aamon,Duke of Shards,"It is better to be feared than loved, if you c...",2021-10-25,Assassin,NaN,Jungler,2614,8.0,455,21,115,0,19,15,250,43,42
1,Akai,Panda Warrior,Now Akai enters the scene!,2016,Tank,Support,Roamer,2769,8.4,422,12,115,0,24,15,260,540,524
2,Aldous,Soul Contractor,Primary Role,2018,Fighter,NaN,EXP Lane,2718,9.8,405,18,129,0,21,15,260,95,92
3,Alice,Queen of Blood,Watch your back!,2016,Mage,Tank,EXP Lane,2573,7.2,493,18,114,0,21,15,240,364,352
4,Alpha,Blade of Enmity,Test! Alpha is online.,2017,Fighter,NaN,EXP Lane,2646,7.8,453,31,121,0,25,15,260,24,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Ruby,Little Red Hood,Secondary Role,2017,Fighter,Tank,EXP Lane,2646,7.8,453,31,121,0,25,15,260,547,632
96,Selena,Abyssal Witch,Secondary Role,2018-07-18,Assassin,Mage,Jungler,2401,6.8,490,18,110,0,15,15,240,493,531
97,Silvanna,Imperial Knightess,Primary Role,2019-12-17,Fighter,NaN,EXP Lane,2868,7.8,430,16,126,0,22,15,255,88,84
98,Terizla,Executioner,Primary Role,2019-06-04,Fighter,NaN,EXP Lane,2728,10.8,430,21,129,0,19,15,255,103,105
99,Thamuz,Lord Lava,Primary Role,2018,Fighter,NaN,EXP Lane,2758,7.4,0,0,107,0,17,15,250,582,597

In [4]:
df.isna().sum()

Name               0
Title              0
Voice_Line         0
Release_Date       0
Primary_Role       0
Secondary_Role    72
Lane               0
Hp                 0
Hp_Regen           0
Mana               0
Mana_Regen         0
Phy_Damage         0
Mag_Damage         0
Phy_Defence        0
Mag_Defence        0
Mov_Speed          0
Esport_Wins        0
Esport_Loss        0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [12]:
#df = df.drop('Title',axis=1)

In [13]:
#df = df.drop('Voice_Line',axis=1)

In [14]:
#df = df.drop('Release_Date',axis=1)

In [15]:
df

,Name,Primary_Role,Secondary_Role,Lane,Hp,Hp_Regen,Mana,Mana_Regen,Phy_Damage,Mag_Damage,Phy_Defence,Mag_Defence,Mov_Speed,Esport_Wins,Esport_Loss
0,Aamon,Assassin,NaN,Jungler,2614,8.0,455,21,115,0,19,15,250,43,42
1,Akai,Tank,Support,Roamer,2769,8.4,422,12,115,0,24,15,260,540,524
2,Aldous,Fighter,NaN,EXP Lane,2718,9.8,405,18,129,0,21,15,260,95,92
3,Alice,Mage,Tank,EXP Lane,2573,7.2,493,18,114,0,21,15,240,364,352
4,Alpha,Fighter,NaN,EXP Lane,2646,7.8,453,31,121,0,25,15,260,24,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Ruby,Fighter,Tank,EXP Lane,2646,7.8,453,31,121,0,25,15,260,547,632
96,Selena,Assassin,Mage,Jungler,2401,6.8,490,18,110,0,15,15,240,493,531
97,Silvanna,Fighter,NaN,EXP Lane,2868,7.8,430,16,126,0,22,15,255,88,84
98,Terizla,Fighter,NaN,EXP Lane,2728,10.8,430,21,129,0,19,15,255,103,105
99,Thamuz,Fighter,NaN,EXP Lane,2758,7.4,0,0,107,0,17,15,250,582,597